:root{
    font-family: 'Anton', sans-serif;
    color: white;
    font-weight: 400;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: linear-gradient(90deg, #253A83, #B14B5B);
}

.button-container{
    padding: 7rem;
    display: flex;
    justify-content: space-evenly;
}

#rock{
    border-style: none;
    background-image: url('img/rock.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

#paper{
    border-style: none;
    background-image: url('img/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

#scissors{
    border-style: none;
    background-image: url('img/scissors.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

#rock:hover{
    transform: scale(2);
    background: url('img/rockpick.jpg');
    background-size: cover;
    background-position: center;
    transition: ease-in 0.1s;
}

#paper:hover{
    transform: scale(2);
    background: url('img/paperpick.jpg');
    background-size: cover;
    background-position: center;
    transition: ease-in 0.1s;
}

#scissors:hover{
    transform: scale(2);
    background: url('img/scissorpick.jpeg');
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in 0.1s;
}

/*match result added to match list (ul) */
.player-win{
    display: flex;
    justify-content: space-between;
    background-color: #028229;
    text-align: left;
}

.computer-win{
    display: flex;
    justify-content: space-between;
    background-color: #BC3921;
    text-align: left;
}

.draw{
    display: flex;
    justify-content: space-between;
    background-color: #F7AD45;
}

li{
    margin: 10px;
    padding: 0;
    border-style: none;
    list-style-type: none;
}


.date-div{
    margin: 10px;
    padding: 0;
}

.match-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#match-list{
    margin: 0;
    padding: 0;
    height: 350px;
    width: 350px;
    overflow: auto;
}

.match-scoreboard {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #2d5750;
    padding: 40px;
    
}
  
.match-scoreboard-item {
    background-color: #4c7870;
    padding: 20px;
    margin: 5px;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;

}
  
.item-text{
    background-color: #2d5750;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    width: 80px;
}


.reset{
    border-style: none;
    border-radius: 7px;
    height: 80px;
    width: 130px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #2b3f8a, #ad4e5b);
}

.reset:hover{
    background-image: linear-gradient(90deg, #1e2c5f, #6d2f38);
    cursor: pointer;
}
